.jumbotron {
    /* add bootstrap jumbotron background image */
    background: url("../FSS2017Photo.jpg");
    background-size: cover;
	text-shadow: 1px 1px 16px #FFF, 
    -1px 1px 16px #FFF,
    1px -1px 16px #FFF,
    -1px -1px 16px #FFF;
}
